# Basic of Python

## data types

In [ ]:
numeric_variable=5 # integers
print(numeric_variable)
type(numeric_variable)

5

int

In [ ]:
x=10.25 # decimal numbers
print(x)
type(x)

10.25

float

In [ ]:
x=True # boolean
print(x)
type(x)

True

bool

In [ ]:
x='Priyanka' # string
print(x)
type(x)

Priyanka

str

In [ ]:
x=3+4j # complex numbers
print(x)
type(x)

(3+4j)

complex

1. variable is called as symbolic name that refer to a value to be saved in RAM.
2. Assignment operator(=)
3. variable can comprise of (a-z,A_Z,_,digits)
4. variable are case sensitive in nature (for ex- it will not be in small cap letter both A-a)
5. variable cannot start with digit.
6. dyanamically typed.
7. assign multiple variable in one syntax.
8. del statement - deleting a variable

variable in special characters will throw invalid syntax
For ex-

In [ ]:
x@# = 3

SyntaxError: invalid syntax (<ipython-input-15-af8b75c2434c>, line 1)

variable uses as cap letter and small will throw error as undefined.

In [ ]:
x=5
print(X)

re.VERBOSE

Variable cannot start with digit for ex-

In [ ]:
9variable=3

SyntaxError: invalid decimal literal (<ipython-input-27-cf91441c2195>, line 1)

assign multiple variable in one syntax For ex-

In [ ]:
a, b, c = 1, 2, 3
print(a,b,c)

1 2 3

del statement - deleting a variable for ex-

In [ ]:
del x

## Basics Of Operations

In [ ]:
a=5
b=2
print(a+b) # addition
print(a-b) # subtraction
print(a*b) # multiplication
print(a/b) # Division (decimal values)
print(a//b) # Floor Division nearest whole down number round figure.
print(a**b) # a to the power b #exponentation
print(a%b) # modulus operator a is divided by b what reminder comes up that will be the answer

7
3
10
2.5
2
25
1

## String Operation

In [ ]:
str1 = "Hello"
str2 = " World"
print (str1 + str2) # Concatenation

Hello World

In [ ]:
# repetation
str1 = " abc "
print(str1 * 3)

 abc  abc  abc

In [ ]:
# indexing
str1 = "Hello World" # indexing start with 0
print(str1[0])
print(str1[-5])
print(str1[-1])

H
W
d

H E l l o W O R L D
1 2 3 4 5 6 7 8 9 10
            -3 -2 -1

In [ ]:
# slicing
str1 = "Hello World" # indexing start with 0
print(str1[1:4]) # string will start populating characters excatly at index 1 and till index 3 it will populate the characters.
# startindex : endindex
# endindex consider exclusive in nature

ell

In [ ]:
print(str1[:4]) # by default left side start with 0

Hell

In [ ]:
print(str1[4:]) # by default it goes to last character of the string

o World

In [ ]:
len(str1) # length of string

11

In [15]:
## python based string methods
result = "python programming"
print(result.upper())
print(result.lower())
print(result.strip())  # remove whitespaces from both the ends

PYTHON PROGRAMMING
python programming
python programming

In [16]:
## formatting strings using placeholder
name = input('Enter your name')
age = input('Enter your age')
result = "My name is {} and I am {} year old".format(name, age)
print(result)

Enter your namePriyanka
Enter your age26
My name is Priyanka and I am 26 year old

## Data Structures

1. List
Versatile and mutable (changeable) DS that allows you to create, update, delete and perform any operations, ordered elements of different data types.

In [19]:
list1 = [1,2,3, "apple","banana"] # different data types
print(list1)

[1, 2, 3, 'apple', 'banana']

In [20]:
list1[0] #indexing

1

In [21]:
list1[:4] #slicing

[1, 2, 3, 'apple']

In [23]:
list1.append("grapes") # adding grapes at the end of the list
list1

[1, 2, 3, 'apple', 'banana', 'grapes']

In [24]:
list1.insert(3,"Kiwi") # adding kiwi at index 3 insert (indexposition, element value)
list1

[1, 2, 3, 'Kiwi', 'apple', 'banana', 'grapes']

In [25]:
list2 = [] #list can be empty in nature
print(list2)

[]

In [26]:
list1.remove(1) # remove element value
list1

[2, 3, 'Kiwi', 'apple', 'banana', 'grapes']

In [28]:
fruits = ("mangoes","oranges")
list1.extend(fruits) # extend method can add fruit element directly into the list
list1

[2, 3, 'Kiwi', 'apple', 'banana', 'grapes', 'mangoes', 'oranges']

In [29]:
len(list1)

8

In [30]:
list1.pop(1) #remove an element present at index 1

3

In [31]:
list1

[2, 'Kiwi', 'apple', 'banana', 'grapes', 'mangoes', 'oranges']

## Tuples

Ordered, but not changeable in nature, immutable, multiple data types. ()

In [32]:
My_tuple = (1,2,3,"apples")
My_tuple

(1, 2, 3, 'apples')

In [33]:
My_tuple(0) = 5 #modifications are not allowed in tuples

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-33-28285edbb252>, line 1)

In [35]:
My_tuple[0] #indexing

1

In [36]:
My_tuple[:4] #slicing

(1, 2, 3, 'apples')

In [37]:
len(My_tuple)

4

## Sets

unordered collection of elements, unique, {}, mutable

In [38]:
my_set = {1,2,3, "apples","apples"}
my_set

{1, 2, 3, 'apples'}

In [39]:
my_set.add("orange")
my_set

{1, 2, 3, 'apples', 'orange'}

In [40]:
my_set.remove(1)
my_set

{2, 3, 'apples', 'orange'}

In [2]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [4]:
print(set1.intersection(set2))

{3}

In [5]:
print(set1.difference(set2))

{1, 2}

In [6]:
print(set1.symmetric_difference(set2))

{1, 2, 4, 5}

## Dictionaries

unordered collections, key value pairs, each key has to be unique, value can be duplicate. {}

In [8]:
my_dict = {'name':'Priyanka', 'age':'26'}
my_dict

{'name': 'Priyanka', 'age': '26'}

In [13]:
my_dict['name'] # use square bracket and mention key in single quote or double quote

'Priyanka'

In [14]:
my_dict['city'] = 'Banglore' # addingcity into dictonary
print(my_dict)

{'name': 'Priyanka', 'age': '26', 'city': 'Banglore'}

In [15]:
my_dict.update({'country':'India'}) #adding country into dictonary
print(my_dict)

{'name': 'Priyanka', 'age': '26', 'city': 'Banglore', 'country': 'India'}

In [16]:
del my_dict['country']
my_dict

{'name': 'Priyanka', 'age': '26', 'city': 'Banglore'}

In [18]:
print('city' in my_dict) #checking the presence of the key
print('address' in my_dict)

True
False

In [19]:
my_dict.keys() #list of keys

dict_keys(['name', 'age', 'city'])

In [20]:
my_dict.values() #list of values

dict_values(['Priyanka', '26', 'Banglore'])

In [22]:
for key, value in my_dict.items():
  print(key , value)

name Priyanka
age 26
city Banglore

In [23]:
my_dict.items() #list of tuples of key-value pairs

dict_items([('name', 'Priyanka'), ('age', '26'), ('city', 'Banglore')])